.go-down {
  height: 3rem;
  width: 3rem;
  display: flex;
  position: absolute;
  bottom: 2rem;
  color: $blue-400;
  opacity: 0;
  transition: all .4s ease-in;
  @include animate(arrow-bottom-infinite, 1.5s, 0, both, infinite, alternate-reverse);

  &__icon {
    height: 100%;
    fill: currentColor;
  }

  &--reverse {
    transition: all .4s ease-out;
    bottom: -1rem;
    
    .go-down__icon {
      transform: rotate(180deg);
    }
  }
}

.cta {
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-color: $white;
  background-color: transparent;
  box-shadow: 6px 6px 8px -3px rgb(0 0 0 / 80%);

  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: $gray-400;
    box-shadow: none;
  }
}