.go-down {
  height: 3rem;
  width: 3rem;
  display: flex;
  position: absolute;
  bottom: 2rem;
  color: $blue-400;
  opacity: 0;
  transition: all .4s ease-in;
  @include animate(arrow-bottom-infinite, 1.5s, 0, both, infinite, alternate-reverse);

  &__icon {
    height: 100%;
    fill: currentColor;
  }

  &--reverse {
    transition: all .4s ease-out;
    bottom: -1rem;
    
    .go-down__icon {
      transform: rotate(180deg);
    }
  }
}

.cta {
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-color: $gray-400;
  color: $gray-400;
  background-color: transparent;
  transition: all .4s ease-in;
  box-shadow: 1px 1px $gray-400, 2px 2px $gray-400, 3px 3px $gray-400, 4px 4px $gray-400, 5px 5px $gray-400, 6px 6px $gray-400, 7px 7px $gray-400, 8px 8px $gray-400;
  transform: translateX(-8px) translateY(-8px);

  &:hover {
    color: $primary;
    background-color: $gray-400;
    box-shadow: none;
    transition: all .4s ease-out;
  }
}