.go-down {
  height: 3rem;
  width: 3rem;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: rotate(0, 50%);

  &__icon {
    height: 100%;
  }
}

.cta {
  padding: 0.75rem 2.5rem;
  font-size: 1.875rem;
  font-weight: 500;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  border-color: $white;
  background-color: transparent;
  box-shadow: 6px 6px 8px -3px rgb(0 0 0 / 80%);

  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: $gray-400;
    box-shadow: none;
  }
}