body {
  font-family: 'Quicksand', Arial, sans-serif;
  color: $white;
}

.page-content {
  position: relative;

  &__section {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background: linear-gradient(-184deg, #091c2f 11%, $primary 98%);
  }

  &::after {
    content: "";
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 99vh;
    left: 0;
    z-index: -1;
    background: #06121e;
    transform: skew(0deg, -10deg);
    transform-origin: left bottom;
  }
}

.rounded-picture {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}